// REM units with fallback to Pixels
// set font-size in html tag to 62.5% 
// 1rem == 10px

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
	$max: length($values);
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + $value*10}px;

		@if $i < $max {
			$pxValues: #{$pxValues + " "};
		}
	} 

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$remValues: #{$remValues + $value}rem;

		@if $i < $max {
			$remValues: #{$remValues + " "};
		}
	}

	#{$property}: $pxValues; 
	#{$property}: $remValues;
}

@mixin font($size: 1.4, $line: $size * 1.5) {
	font-size:   ($size * 10) + px;
	line-height: ($line * 10) + px;
	font-size:   $size + rem;
	line-height: $line + rem;
}
