
.icon-filter:before { content: '\e801'; } /* '' */
.icon-database:before { content: '\e806'; } /* '' */
.icon-upload:before { content: '\e803'; } /* '' */
.icon-tools:before { content: '\e804'; } /* '' */
.icon-mouse:before { content: '\e809'; } /* '' */
.icon-magic:before { content: '\e802'; } /* '' */
.icon-brush:before { content: '\e800'; } /* '' */
.icon-grid:before { content: '\e808'; } /* '' */
.icon-ruler:before { content: '\e80a'; } /* '' */
.icon-vector:before { content: '\e805'; } /* '' */
.icon-brush-1:before { content: '\e807'; } /* '' */