.chartmander {
	position: relative;
	@include background-image(linear-gradient(left top, $blue, $green));
	color: #FFF;
	text-align: center;
	margin-bottom: 0;
	@include rem(padding, 2);
	@include rem(padding-top, 6);

	h1 {
		@include font(3.6);
		font-weight: 300;
		@include rem(margin-top, 6);
		@include rem(margin-bottom, 6);
	}

	.btn {
		max-width: 200px;
		margin: 0 auto;
		text-transform: uppercase;
		background: transparent;
		border: 2px solid #555;
		color: white;
	}
}

.features {
	@include rem(padding, 5, 0);
	@include background-image(linear-gradient(left top, #13171a, #2f3a41));
	text-align: center;

	h2 {
		color: #d2d7df;
		font-weight: 300;
	}

	i {
		color: #7c9caf;
		@include font(7);
	}

	h4 {
		color: #d2d7df;
	}

	p {
		color: #758690;
	}
}

footer {
	@include rem(padding-bottom, 4);
	text-align: center;
	background: #f0f3f6;

	i {
		@include font(6);
	}
}

.charts {
	text-align: center;
}
