$background: rgba(0,0,0,.7);

.cm-tip {
	position: absolute;
	display: inline-block;
	background: $background;
	padding: 10px;
	border-radius: 3px;
	
	span {
		color: rgba(255,255,255,.5);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		color: rgba(255,255,255,.6);
	}

	strong {
		color: #fff;
	}
}

