<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.cssdir}}bootstrap.min.css">
    <link rel="stylesheet" href="{{site.cssdir}}syntax.css">
    <link rel="stylesheet" href="{{site.cssdir}}ionicons.min.css">
    <link rel="stylesheet" href="{{site.cssdir}}chartmander.css">
    <script src="{{site.jsdir}}jquery-2.1.0.min.js"></script>
    <script src="{{site.jsdir}}bootstrap.min.js"></script>
    <script src="{{site.jsdir}}moment.min.js"></script>
    <script src="{{site.jsdir}}tinycolor.js"></script>
    <script src="{{site.jsdir}}Chartmander.js"></script>
    <script src="{{site.jsdir}}dataFactory.js"></script>
    <style>
      .charts {
        text-align: center;
      }
      .chart {
        background: wheat;
      }
    </style>
  </head>
  <body>
  {{ content }}
  </body>
</html>
