<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.cssdir}}bootstrap.min.css">
    <link rel="stylesheet" href="{{site.cssdir}}sochi.css">
    <link rel="stylesheet" href="{{site.cssdir}}ionicons.min.css">
    <script src="{{site.jsdir}}jquery-2.1.0.min.js"></script>
    <script src="{{site.jsdir}}bootstrap.min.js"></script>
    <script src="{{site.jsdir}}moment.min.js"></script>
    <script src="{{site.jsdir}}tinycolor.js"></script>
    <script src="{{site.jsdir}}chartmander.js"></script>
    <script src="{{site.jsdir}}dataFactory.js"></script>
    <script src="{{site.jsdir}}realshadow-min.js"></script>
    <script src="{{site.jsdir}}sochi.js"></script>
  </head>
  <body>
  {{ content }}
  <script>
    $('.page').realshadow({
      angle: Math.PI / 4,
      type: "flat"
    });
  </script>
  </body>
</html>
